/* Variables */

:root {
  --main-black-color: #151515;
  --main-grey-color: #444444;
  --main-white-color: #ffffff;
  --main-orange-color: #d5966c;
}

body {
  box-sizing: border-box;
  margin: 0;
}

/* Mobile first */

/* Typography */

h1,
h2,
h3 {
  font-family: "Big Shoulders Display", cursive;
  margin: 0;
  padding: 0.4em 0.3em;
  text-transform: uppercase;
  line-height: 55px;
  font-weight: 900;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
}

.text-black {
  display: none;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 1.6rem;
  padding: 1em 0.8em;
  line-height: 28px;
}

p {
  font-family: "Outfit", sans-serif;
  font-size: 1.1rem;
  margin: 0;
  line-height: 30px;
  padding: 0 1em;
}

button {
  color: var(--main-white-color);
  text-transform: uppercase;
  font-family: "Outfit", sans-serif;
  font-size: 20px;
  font-weight: 400;
}

i {
  font-size: 1.5rem;
}

/* Layout */

section:nth-of-type(1),
section:nth-of-type(2) {
  height: 100vh;
}

section:nth-of-type(3) {
  height: auto;
}

/* Intro section */

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.image {
  background-image: url("./assets/mobile/image-hero@2x.jpg");
  background-size: cover;
  background-position: center;
  height: 30%;
}

button {
  border: none;
  background-color: var(--main-black-color);
  padding: 1em 4em 1em 1.5em;
  margin: 1.5em 0.8em;
  cursor: pointer;
  position: relative;
}

.arrow-right {
  background-color: var(--main-orange-color);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  padding: 0em 1em;
}

/* Main section */
.image,
.image-1,
.image-2,
.image-3 {
  background-size: cover;
  background-position: center;
}

.image-1 {
  background-image: url(assets/mobile/image-grid-1@2x.jpg);
  height: 50%;
  margin: 1em;
}

.image-2 {
  background-image: url(assets/mobile/image-grid-2@2x.jpg);
  height: 500px;
  margin: 1em;
}

.image-3 {
  background-image: url(assets/mobile/image-grid-3@2x.jpg);
  height: 400px;
  margin: 1em;
}

.content-b {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  height: 250px;
  padding: 2em;
  margin-bottom: 4em;
}

footer {
  background-color: var(--main-black-color);
  color: var(--main-white-color);
  font-size: 2rem;
}

.social-media {
  padding: 2em 0.5em;
  display: flex;
  gap: 20px;
}

/* Media queries */

/* Tablet size */

@media (min-width: 768px) {
  /* Layout */

  .intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    height: 100vh;
    align-items: center;
  }

  .black {
    display: none;
  }

  .image {
    background-image: url("./assets/tablet/image-hero@2x.jpg");
    background-size: cover;
    background-position: center;
    height: 100%;
  }

  section:nth-of-type(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 30vh;
    padding-bottom: 4em;
    height: auto;
  }

  .content-a {
    grid-column: 1/ 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1em;
  }

  .image-1 {
    grid-column: 2/ 4;
    background-image: url(assets/tablet/image-grid-1@2x.jpg);
    height: 100%;
    margin: 2em;
    order: 2;
  }

  section:nth-of-type(3) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
    margin: 0 2em 4em 2em;
    gap: 1em 1em;
  }

  .image-2 {
    grid-column: 1/ 1;
    grid-row: 1/3;
    background-image: url(assets/tablet/image-grid-2@2x.jpg);
    height: 100%;
    margin: 0;
  }

  .image-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url(assets/tablet/image-grid-3@2x.jpg);
    height: 100%;
    margin: 0;
  }

  .content-b {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: 100%;
    padding: 0;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  footer > p {
    width: 50%;
  }
}

/* Desktop size */

@media (min-width: 1024px) {
  /*Layout*/

  section:nth-of-type(1) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .black {
    display: block;
    background-color: var(--main-black-color);
    height: 100%;
    z-index: 4;
    overflow-x: hidden;
  }

  h1 {
    position: absolute;
    top: 20%;
    left: 18%;
    color: var(--main-white-color);
    z-index: 5;
  }

  section:nth-of-type(2) {
    grid-template-columns: 1fr 1fr;
    margin-top: 2em;
  }

  .image-1 {
    background-image: url(assets/desktop/image-grid-1@2x.jpg);
    margin: 0 2em;
  }

  section:nth-of-type(3) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .content-a {
    width: 60%;
  }

  .image-2 {
    background-image: url(assets/desktop/image-grid-2@2x.jpg);
    grid-column: 1/ 3;
    grid-row: 1/3;
  }

  .image-3 {
    background-image: url(assets/desktop/image-grid-3@2x.jpg);
    grid-column: 3/ 4;
    grid-row: 1/2;
  }

  .content-b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    height: 100%;
  }
}
